THOUGHT 1:
To solve the task I think I need to execute the following steps:
{{ steps }}
Deviation from these steps might be needed based on following observations.
To start out I need to use the provided `{{ method_search_full_signature }}` method to search for new methods related to "{{ first_step }}".
ACTION 1:
```python
{{ method_search_line }}
```
OBSERVATION 1:
{{ methods }}
Not all the above methods might be needed. Use `{{ method_search_full_signature }}` to search for more available methods if required!
